In [119]:
import pandas as pd   #to create dataframe
import requests       #to send the request to the URL
from bs4 import BeautifulSoup #to get the content in the form of HTML
import numpy as np  # to count the values (in our case)

movie_name = []
year = []
time = []
genre = []
rating = []
metascore = []
votes = []
gross = []
#Note: These three list are added recently, Not explained in the video
description = []
Certificate = []
#assigning the URL with variable name url
url = ['https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating',
       'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=101&ref_=adv_nxt',
       'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=201&ref_=adv_nxt',
       'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=301&ref_=adv_nxt',
       'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=401&ref_=adv_nxt',
       'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=501&ref_=adv_nxt',
       'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=601&ref_=adv_nxt',
       'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=701&ref_=adv_nxt',
       'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=801&ref_=adv_nxt',
       'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=901&ref_=adv_nxt']
#request allow you to send HTTP request
for i in url:
  response = requests.get(i)
  soup = BeautifulSoup(response.content, 'html.parser')

  #creating an empty list, so that we can append the values


  #storing the meaningfull required data in the variable
  movie_data = soup.findAll('div', attrs= {'class': 'lister-item mode-advanced'})

  #calling one by one using for loop
  for store in movie_data:
      name = store.h3.a.text
      movie_name.append(name)
      
      year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
      year.append(year_of_release)
      
      runtime = store.p.find('span', class_ = 'runtime').text.replace('/n', '')
      time.append(runtime)

      G = store.p.find('span', class_ = 'genre').text.replace('\n', '')
      genre.append(G)
      
      rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
      rating.append(rate)
      
      meta  = store.find('span', class_ = 'metascore').text.replace(' ', '') if store.find('span', class_ = 'metascore') else 'None'
      metascore.append(meta)
      #since, gross and votes have same attributes, that's why we had created a common variable and then used indexing
      value = store.find_all('span', attrs = {'name': 'nv'})
      
      vote = value[0].text
      votes.append(vote)
      
      grosses = value[1].text if len(value) >1 else 'None'
      gross.append(grosses)
      
      # Description of the Movies -- Not explained in the Video, But you will figure it out. 
      describe = store.find_all('p', class_ = 'text-muted')
      description_ = describe[1].text.replace('\n', '') if len(describe) >1 else 'None'
      description.append(description_)
      
      #Cast Details -- Scraping Director name and Stars -- Not explained in Video
      cast = store.find("p", class_ = '')
      cast = cast.text.replace('\n', '').split('|')
      cast = [x.strip() for x in cast]
      cast = [cast[i].replace(j, "") for i,j in enumerate(["Certificate:"])]
      Certificate.append(cast[0])
      
      
  #creating a dataframe using pandas library
  movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Year of relase': year, 'Watchtime': time, 'Genre': genre, 'Movie Rating': rating, 'Metascore': metascore, 'Votes': votes, 'Gross collection': gross, 'Description': description, "Certificate": Certificate,})

In [120]:
movie_DF.head(1000)

,Name of movie,Year of relase,Watchtime,Genre,Movie Rating,Metascore,Votes,Gross collection,Description,Certificate
0,The Shawshank Redemption,1994,142 min,Drama,9.3,81,"2,597,310",$28.34M,Two imprisoned men bond over a number of years...,R
1,The Godfather,1972,175 min,"Crime, Drama",9.2,100,"1,792,660",$134.97M,The aging patriarch of an organized crime dyna...,R
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,84,"2,568,445",$534.86M,When the menace known as the Joker wreaks havo...,PG-13
3,The Lord of the Rings: The Return of the King,2003,201 min,"Action, Adventure, Drama",9.0,94,"1,784,145",$377.85M,Gandalf and Aragorn lead the World of Men agai...,PG-13
4,Schindler's List,1993,195 min,"Biography, Drama, History",9.0,94,"1,321,197",$96.90M,"In German-occupied Poland during World War II,...",R
...,...,...,...,...,...,...,...,...,...,...
995,Sabrina,1954,113 min,"Comedy, Drama, Romance",7.6,72,"64,366",None,A playboy becomes interested in the daughter o...,Passed
996,From Here to Eternity,1953,118 min,"Drama, Romance, War",7.6,85,"46,737",$30.50M,"At a U.S. Army base in 1941 Hawaii, a private ...",Passed
997,Snow White and the Seven Dwarfs,1937,83 min,"Animation, Adventure, Family",7.6,95,"195,977",$184.93M,Exiled into the dangerous forest by her wicked...,Approved
998,The 39 Steps,1935,86 min,"Crime, Mystery, Thriller",7.6,93,"56,498",None,A man in London tries to help a counter-espion...,Approved
999,The Invisible Man,1933,71 min,"Horror, Sci-Fi",7.6,87,"34,556",None,"A scientist finds a way of becoming invisible,...",TV-PG

In [121]:
movie_DF.to_csv("Data_Top_1000_Movies_IMDB_2022.csv")